@model IEnumerable<Dream>

<div class="list-container">
    <h2>Списък със сънища</h2>
    <a href="/Dreams/Create" class="add-link">Добави нов сън</a>

    <table class="table">
        <thead>
            <tr>
                <th>Заглавие</th>
                <th>Описание</th>
                <th>Дата</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dream in Model)
            {
                <tr>
                    <td>@dream.Title</td>
                    <td>@dream.Description</td>
                    <td>@dream.CreatedAt.ToString("dd.MM.yyyy")</td>
                    <td>
                        <a href="/Dreams/Edit/@dream.Id" class="button">Редактирай</a>
                        <a href="/Dreams/Delete/@dream.Id" class="button">Изтрий</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


